page-userdetail {
    
    .fontSchool{
        font-size:10px;
    
    }
    .guBack{
       
background-color: chocolate;
color: white;
    }
    .stBack{
        background-color: chocolate;
        color: white;  
    }
    .schBack{
        background-color: chocolate;
        color: white;  
    }
    .mainBack{
        background-color: rgb(117, 89, 4);
        color: white
    }
}
